<!doctype html>
<html data-scale="true">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge;chorme=1" />
  <meta name="renderer" content="webkit">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <!--[if lte IE 8]><script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-shim.min.js" charset="utf-8"></script><![endif]-->
  <% if(htmlWebpackPlugin.options.isomorphic){ %>
  <script type="text/javascript">
    window.REDUX_STATE = {{{store}}};
  </script>
  <% } %>
</head>

<body>
  <div id="app"><% if(htmlWebpackPlugin.options.isomorphic){ %>{{{root}}}<% } %></div>
</body>

</html>
