{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "targets": {
          "browsers": [
            "last 2 versions",
            "ios >= 9"
          ],
          "node": "current"
        },
        "modules": false,
        "debug": false,
        "useBuiltIns": "usage",
        "include": [],
        "exclude": []
      }
    ]
  ],
  "plugins": [
    /**react热更新*/
    "react-hot-loader/babel",
    /**转换jsx**/
    "@babel/plugin-transform-react-jsx",
    /**支持class-properties语法*/
    "@babel/plugin-proposal-class-properties",
    /**支持import异步加载语法*/
    "dynamic-import-webpack",
    [
      "react-css-modules",
      {
        "context": "client/styles",
        "exclude": "node_modules",
        "filetypes": {
          ".less": {
            "syntax": "postcss-less",
          },
        },
        "handleMissingStyleName": "warn",
        "generateScopedName": "[name]__[local]--[hash:base64:5]",
        "removeImport": false,
      },
    ],
    [
      "import", {
        "libraryName": "antd-mobile",
        "style": true,
      },
    ]
  ]
}
