{
  "presets": [
    [
      "env",
      {
        "loose": true,
        "targets": {
          "browsers": [
            "last 2 versions",
            "ie >= 9",
            "safari >= 6",
            "ios >= 9"
          ],
          "node": "current"
        },
        "modules": false,
        "debug": false,
        "useBuiltIns": "usage",
        "include": [],
        "exclude": []
      }
    ],
    "stage-0"
  ],
  "plugins": [
    /**react热更新*/
    "react-hot-loader/babel",
    /**转换jsx**/
    "transform-react-jsx",
    /**支持装饰器语法**/
    "transform-decorators-legacy",
    [
      "react-css-modules",
      {
        "context": "client/styles",
        "exclude": "node_modules",
        "filetypes": {
          ".less": {
            "syntax": "postcss-less",
          },
        },
        "handleMissingStyleName": "warn",
        "generateScopedName": "[name]__[local]--[hash:base64:5]",
        "removeImport": false,
      },
    ],
    [
      "import", {
        "libraryName": "antd-mobile",
        "style": true,
      },
    ]
  ]
}
