<!doctype html>
<html data-scale="true">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge;chorme=1" />
  <meta name="renderer" content="webkit">
  <title>
    react-starter
  </title>
  <!--[if lte IE 8]><script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-shim.min.js" charset="utf-8"></script><![endif]-->
  
<link rel="shortcut icon" href="/favicon.ico"></head>

<body>
  <div id="app"></div>
<script type="text/javascript" src="/client/js/main.js?e4b31a3d5b0c525e3d0b"></script></body>

</html>
